Repository Lodin/react-tree-virtualized: changes, and which lint-staged commands are due for each by the changed paths.
All: run-s lint:src -- --fix, run-s lint:spec -- --fix, eslint --fix

build(dependencies): add "classnames" and "mem" packages
  package-lock.json
  package.json
Due: none

build(config): disable "semicolon" rule due to bug in tslint
  tslint.json
Due: none

feat: add basic tree implementation
  src/Tree.tsx
  src/defaultNodeRenderer.tsx
  src/index.ts
  src/types.d.ts
Due: run-s lint:src -- --fix

build(config): add necessary packages
  package-lock.json
  package.json
Due: none

build(config): add generating decorators
  tsconfig.json
Due: none

build(config): disable "no-non-null-assertion" rule
  tslint.json
Due: none

build(storybook): add storybook configuration
  .storybook/config.js
  .storybook/webpack.config.js
  config/paths.js
Due: eslint --fix

feat: implement virtual tree logic
  src/Tree.tsx
  src/defaultNodeRenderer.tsx
  src/types.d.ts
  stories/index.tsx
Due: run-s lint:src -- --fix

fix: add missing typings and improve existing
  src/Tree.tsx
  src/types.d.ts
Due: run-s lint:src -- --fix

docs: add README
  README.md
Due: none

gh-pages init
  .editorconfig
  .gitignore
  .lintstagedrc
  .npmignore
  .nycrc
  .storybook/config.js
  .storybook/webpack.config.js
  .travis.yml
  README.md
  config/.eslintrc.json
  config/paths.js
  config/test/parser.js
  config/test/reporters.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  favicon.ico
  iframe.html
  index.html
  jasmine.json
  package-lock.json
  package.json
  src/Tree.tsx
  src/defaultNodeRenderer.tsx
  src/index.ts
  src/types.d.ts
  static/manager.2854d0a5d072a5ac35d0.bundle.js
  static/preview.0712144296a229228ab0.bundle.js
  stories/index.tsx
  tsconfig.json
  tsconfig.tslint.json
  tslint.json
Due: run-s lint:src -- --fix, eslint --fix

Path conditions:
  run-s lint:src -- --fix: any of: src/**/*.ts
  run-s lint:spec -- --fix: any of: spec/**/*.ts
  eslint --fix: any of: config/**/*.js
